:root {
    --bg: #0B1B3A;
    --card: #122B52;
    --accent: #F6C445;
    --text: #EAF2FF;
    --textAlt: #474747;
    --muted: #A7B4C7;
    --player-1: rgb(98, 29, 235);
    --player-2: rgb(196, 46, 46);
}

.hidden {
    display: none;
}

#main-category-selection-container {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    border-radius: 20px;
    padding-top: 2vh;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#category-selection-header {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category-display-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 90%;
    height: 55%;
    background-color: var(--bg);
    border-radius: 20px;
    padding: 2%;
}

/* CATEGORY BOXES */
.categoryCard {
    background-color: var(--accent);
    border-radius: 20px;
    width: 28%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* centers text vertically */
    text-align: center;
    padding: 0 10px;
    transition: .15s;
}

.categoryCard h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.2;
}

.categoryCard:has(input:checked) {
    background-color: var(--muted);
    color: var(--text);
}

/* UNIVERSAL BUTTON STYLE */
.btn {
    background-color: var(--accent);
    color: var(--bg);
    padding: 12px 40px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.btn:hover {
    transform: scale(1.05);
}

/* REROLL BUTTON */
#reroll-button-container input[type="submit"] {
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
    margin-left: 10px;
    margin-top:-10px;
}

#reroll-button-container input[type="submit"]:hover {
    transform: scale(1.05);
}

#reroll-information-container {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

/* LABEL FIX */
label {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON GROUP ALIGNMENT */
#reroll-button-container,
#reroll-confirm-container,
#go-back-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1vh;
}

/* GO BACK BUTTON (same as confirm) */
#go-back-button-container .btn {
    background-color: var(--accent);
    color: var(--bg);
    text-align: center;
}

.muted {
    background-color: var(--muted);
    color: var(--textAlt);
}