:root {
    --main: #120238;
    /* undtermined */
    --primary: #333;
    /* undtermined */
    --secondary: #555;
    /* undtermined */
    --accent: #007BFF;
    /* undtermined */
    --text: #bebebe;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    background-color: var(--main);
}

a {
    text-decoration: none;
    color: var(--text);
}

.btn {
    text-decoration: none;
    color: var(--text);
}

#index-content {
    margin: auto;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 50vh;
    background-color: red;
}