:root {
    --bg: #0B1B3A;
    --card: #122B52;
    --accent: #F6C445;
    --text: #EAF2FF;
    --muted: #A7B4C7;
    --player-1: rgb(98, 29, 235);
    --player-2: rgb(196, 46, 46);
}

.success-welcome {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#player-select-container {
    margin: auto;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    background-color: var(--card);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {
    width: 100%;
    height: 100%;
}

#player-select-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15%;
    width: 90%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: var(--text);
}

#players-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.player-container {
    flex: 1 1 220px;
    max-width: 260px;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.players-count-3 .player-container,
.players-count-5 .player-container {
    flex: 1 1 240px;
}

.p1 {
    background-color: var(--player-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2 {
    background-color: var(--player-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container h2 {
    color: var(--text);
    margin-top: 5%;
    margin-bottom: 5%;
}

.player-container input {
    background-color: var(--bg);
    color: var(--text);
    margin-bottom: 5%;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 80%;
    padding-left: 20px;
}

.player-container input::placeholder {
    color: var(--text);
}

.player-remember-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -5%;
    color: var(--text);
}

.cb {
    margin-top: 6px;
}

#player-select-controls {
    height: fit-content;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
    margin-top: 1.5%;
    height: 15%;
}

#player-select-controls input {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}