:root {
    --bg: #0B1B3A;
    --card: #122B52;
    --accent: #F6C445;
    --text: #EAF2FF;
    --muted: #A7B4C7;
    --player-1: rgb(98, 29, 235);
    --player-2: rgb(196, 46, 46);
}

#game-start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    background-color: var(--card);
    border-radius: 20px;
}

#game-start-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#game-start-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10%;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* player count dropdown */
#player-count-container {
    margin-top: 20px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#player-count-container select {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}